<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>signup</servlet-name>
  	<display-name>signup</display-name>
  	<description></description>
  	<servlet-class>controller.signup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>signin</servlet-name>
  	<display-name>signin</display-name>
  	<description></description>
  	<servlet-class>controller.signin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>forgotPassword</servlet-name>
  	<display-name>forgotPassword</display-name>
  	<description></description>
  	<servlet-class>controller.forgotPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editProfile</servlet-name>
  	<display-name>editProfile</display-name>
  	<description></description>
  	<servlet-class>controller.editProfile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>changePassword</servlet-name>
  	<display-name>changePassword</display-name>
  	<description></description>
  	<servlet-class>controller.changePassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<display-name>logout</display-name>
  	<description></description>
  	<servlet-class>controller.logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>likeUnlike</servlet-name>
  	<display-name>likeUnlike</display-name>
  	<description></description>
  	<servlet-class>controller.likeUnlike</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>share</servlet-name>
  	<display-name>share</display-name>
  	<description></description>
  	<servlet-class>controller.share</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>info</servlet-name>
  	<display-name>info</display-name>
  	<description></description>
  	<servlet-class>controller.info</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>usermanager</servlet-name>
  	<display-name>usermanager</display-name>
  	<description></description>
  	<servlet-class>controller.usermanager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>videomanager</servlet-name>
  	<display-name>videomanager</display-name>
  	<description></description>
  	<servlet-class>controller.videomanager</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>video</servlet-name>
  	<display-name>video</display-name>
  	<description></description>
  	<servlet-class>controller.video</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>videoAction</servlet-name>
  	<display-name>videoAction</display-name>
  	<description></description>
  	<servlet-class>controller.videoAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>signup</servlet-name>
  	<url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>signin</servlet-name>
  	<url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>forgotPassword</servlet-name>
  	<url-pattern>/forgot-password</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editProfile</servlet-name>
  	<url-pattern>/edit-profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>changePassword</servlet-name>
  	<url-pattern>/change-password</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>likeUnlike</servlet-name>
  	<url-pattern>/like-unlike</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>share</servlet-name>
  	<url-pattern>/share</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>info</servlet-name>
  	<url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>usermanager</servlet-name>
  	<url-pattern>/usermanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>videomanager</servlet-name>
  	<url-pattern>/videomanager</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>video</servlet-name>
  	<url-pattern>/video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>videoAction</servlet-name>
  	<url-pattern>/video-action</url-pattern>
  </servlet-mapping>
</web-app>
